@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap);
/* => Global Styles */
:root {
  --primary-color: #233c7b;
  --secondary-color: #f7a654;
  --alternate-color: #327ae7;
  --light-color: #edecf7;
  --text-primary-color: #858585;
  --text-secondary-color: #5877c6;
  --text-light-color: #fff;
  --text-dark-color: #454545;
  --text-darkBlue-color: #000f35;
  --font-family: "Poppins", sans-serif;
  --secondary-font-family: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fcb976 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #fcb976;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

/* => Utility Classes */
.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 5rem;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 1.438rem;
  }
}

.section-heading {
  padding-bottom: 4rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;

  color: var(--primary-color);
}

@media (min-width: 1024px) {
  .section-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .section-heading {
    font-size: 3rem;
    line-height: 1;
  }
}

.card-section {
  padding: 5rem 0;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
}

.card-flex-container {
  gap: 3%;
}

.card-flex-container > .card {
  padding: 2rem 1.5rem;
  background-color: #fbfeff;
  border-radius: 0.75rem;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(171, 171, 171, 0.25);
  flex-basis: 30%;
}

@media (max-width: 1200px) {
  .card-flex-container {
    justify-content: space-evenly;
  }

  .card-3 {
    display: none;
  }

  .card-flex-container > .card {
    flex-basis: 40%;
  }
}

@media (max-width: 796px) {
  .card-flex-container {
    justify-content: center;
  }

  .card-2 {
    display: none;
  }

  .card-flex-container > .card {
    flex-basis: 90%;
  }
}

.view_more-container {
  text-align: center;
  margin-top: 3rem;
}

.view_more-link {
  text-decoration: none;
  color: #3c4958;
  font-weight: 600;
}

.section-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #3c4958;
  text-align: center;
  padding: 0 0.5rem;
  margin: 10px 0;
}

@media (min-width: 1024px) {
  .section-desc {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.card-section-heading {
  padding: 0;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.img-card {
  justify-content: space-between;
  max-width: 350px;
  margin: 2.5rem 0;
  height: 28rem;
}

/* => Navigation Classes */

.nav-container {
  width: 100%;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--text-light-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.main-nav-container {
  justify-content: space-between;
}

.main-nav-logo-container {
  flex-basis: 10%;
}

.ineuron-logo {
  width: 100%;
}

.main-nav-search-container {
  flex-basis: 65%;

  flex-grow: 1;
  position: relative;
  margin-left: 1.438rem;
}

.nav-input-search-icon {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 20px;
}

.main-nav-search {
  width: 95%;
  padding: 10px 10px 10px 48px;
  font-family: inherit;
  font-size: 0.875rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  outline: 0;
}

.main-nav-btn-container {
  flex-basis: 25%;
}

.sign-in-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.main-navlinks-container {
  padding-top: 1rem;
  color: var(--primary-color);
  width: 100%;
}

.main-navlist {
  display: flex;
  row-gap: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.main-navlink {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  color: #233c7b;
  gap: 0.2rem;
  cursor: pointer;
}

.mobile-nav-wrapper {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-container {
    padding: 0;
  }

  .main-navlinks-container,
  .main-nav-container {
    display: none;
  }

  .mobile-nav-wrapper {
    display: block;
    width: 100%;
    height: 55px;
    background-color: var(--text-light-color);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  }

  .mobile-logo-img-container {
    flex: 0.7;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 170px;
  }

  .mobile-logo-img {
    width: 100%;
    max-width: 125px;
  }
}

/* => Main container */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* => Banner Classes */
.banner-container {
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 1200px) {
  .banner-container {
    height: fit-content;
  }
}

.banner-img {
  width: 100%;
  height: 100%;
}

/* => 2nd Section Classes */

.section-2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 80rem;
  width: 100%;
}

.section-2-container {
  padding-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.section-2-hr {
  background-color: var(--secondary-color);
  height: 2px;
  width: 8rem;
  margin-top: -3.25rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.section-2-card-container {
  gap: 2.5rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.s2-card {
  gap: 0.5rem;
  justify-content: space-around;

  align-items: center;
  flex-direction: column;
  display: flex;
}

.s2-card-img {
  padding-bottom: 0.75rem;
  width: 10rem;
}

.s2-card-count {
  color: var(--primary-color);

  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 8px 0;
}

.s2-card-desc {
  color: var(--text-dark-color);

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 1024px) {
  .section-2-card-container {
    flex-direction: row;
  }
}

/* => Achievers SECTION  */

.achievers-section {
  background-color: #eef0f5;
  width: 100%;
}

.achievers-container {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.achievers-sliding-container {
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.ac-sliding-flex-container {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.com-con {
  flex-basis: 18%;
  display: flex;
  justify-content: flex-end;
}

.com-con > img {
  width: 150px;
}

@media (max-width: 1200px) {
  .com-con {
    flex-basis: 22.5%;
  }

  .com-con-5 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .com-con {
    flex-basis: 30%;
    justify-content: center;
  }

  .com-con-4 {
    display: none;
  }
}

@media (max-width: 600px) {
  .com-con {
    flex-basis: 45%;
    justify-content: center;
  }

  .com-con-3 {
    display: none;
  }
}

/* => Hall of fame section */

.card-round-img {
  border-radius: 50%;
  width: 100px;
  display: block;
  max-width: 100%;
  height: 100px;
}

.hf-link {
  text-decoration: none;
}

.hf-link-name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-darkBlue-color);
  font-weight: 600;
  margin: 10px 0;
}

.hf-company-name {
  color: var(--text-dark-color);
  font-size: 0.913rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 10px 0;

  font-weight: 600;
}

.hf-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  color: var(--text-dark-color);
  font-size: 0.913rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 10px 0;

  font-weight: 400;
}

.hf-linkedin-link-container {
  margin: 10px 0;
}

/* => Live Program section */

.card-main-container {
  width: 100%;
}

.card-img-container {
  width: 100%;
  height: 175px;
}

.card-img-container > img {
  width: 100%;
  height: 100%;
}

.card-title {
  color: var(--primary-color);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.card-details-container {
  width: 100%;
}

.card-author-name {
  color: #02050b;
}

.card-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-price {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.913rem;
}

.card-live-label {
  font-size: 0.875rem;
  color: var(--text-darkBlue-color);
  background-color: #a2cafa;
  padding: 2px 5px;
  border: 1.5px solid #7199ff;
  border-radius: 5px;
}

/* => One Neuron */

.card-course-details {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  color: var(--text-dark-color);
  font-weight: 600;
}

/* => Test Series */

.test-card {
  row-gap: 3rem;
}

/* => Hackathon */
.hackathon-img {
  width: 100%;
}

/* => Hackathon Companies */
.hackathon-companies-section {
  background-color: #eef0f5;
  width: 100%;
}

.hackathon-companies-container {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.hackathon-companies-sliding-container {
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.hc-sliding-flex-container {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hc-com-con {
  justify-content: center;
}

/* => Our Products */

.products-container {
  padding: 5rem 0;
  max-width: 80rem;
}

.products-flex-container {
  gap: 5rem;
  flex-wrap: wrap;
}

.product-card {
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  width: 20rem;
  height: 20rem;
}

.product-img {
  height: 10rem;
  width: 100%;
  max-width: 100%;
}

.product-name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}

@media (min-width: 1024px) {
  .product-name {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.product-desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--text-dark-color);
  text-align: center;
  font-weight: 500;
}

@media (min-width: 640px) {
  .product-desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .product-desc {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* => Partners Institution */
.partner-section {
  width: 100%;
}

.partner-institutions-container {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.partner-institutions-sliding-container {
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.pi-sliding-flex-container {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pi-con {
  justify-content: center;
}

/* => Footer */
footer {
  background-color: var(--primary-color);
  color: #e0e0e0;
}

.footer-container {
  padding: 5rem 1rem 1.5rem;
  margin-top: 7rem;
}

.footer-flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 80px;
}

.footer-flex-container > * {
  flex-basis: 20%;
}

.footer-contact-logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 0.1rem;
  row-gap: 18px;
  padding-bottom: 15px;

  margin-bottom: 20px;
  border-bottom: 3px solid var(--secondary-color);
}

.footer-contact-socials-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.1rem;
  height: 100%;
}

.footer-logo {
  width: 50%;
  min-width: 150px;
}

@media screen and (max-width: 1000px) {
  .footer-logo {
    width: 25%;
  }
}

.footer-social-link {
  font-size: 1.25rem;
}

.footer-social-image {
  color: #ffffff;
}

.footer-social-image:hover {
  color: #ea8e30;
}

.fc-addr-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.5rem;
  width: 100%;
}

.fc-addr-details-container {
  color: #e0e0e0;
}

.fc-addr-details-container:hover {
  color: #ffffff;
}

.footer-text {
  color: #e0e0e0;
}

.footer-text:hover {
  color: #ffffff;
}

.footer-certificate-logo {
  margin-top: 50px;
}

.footer-head-section {
  border-bottom: 3px solid var(--secondary-color);
}

.footer-text-heading {
  font-size: 1.4rem;
  margin: 10px 0;
  font-weight: 500;
  color: #ffffff;
}

.footer-company-flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20px;
  padding-top: 2rem;
}

.fc-con-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  flex-basis: 47.5%;
}

.fc-con-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  flex-basis: 47.5%;
}

.footer-certificate-logo > img {
  width: 6rem;
}

@media screen and (max-width: 500px) {
  .footer-certificate-logo > img {
    width: 4rem;
  }
}

.footer-text-link {
  text-decoration: none;
  display: block;
  color: #e0e0e0;
}

.footer-text-link:hover {
  color: #ffffff;
}

.footer-products-flex-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
}

@media screen and (max-width: 1000px) {
  .footer-flex-container {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .footer-flex-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .footer-flex-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  .footer-flex-container {
    padding: 0 15px;
  }
}
